---
title: Halo
layout: sample.njk
---
<p>Contoh ini terdiri dari dua halaman</p>
<ul>
    <li>halaman halo <code>`src/pages/halo.njk`</code></li>
    <li>halaman component <code>`src/pages/component.njk`</code></li>
    <li>layout yang digunakan <code>`src/layouts/sample.njk`</code></li>
</ul>
<p>Halaman component menampilkan collection yang ada pada folder <code>`src/components/`</code></p>
<p>Component button <code>`src/components/button.njk`</code> menggunakan global data <code>`src\data\variant.js`</code></p>